$color-primary:          #26b9a5;
$color-secondary:        darken(#d0224c, 15%);
$color-tertiary:         #ffb736;
$color-accent-green:     #26b9a5;
$color-accent-pink:      #d0224c;
$color-accent-yellow:    #ffb736;
$color-light:            #fff;
$color-lightgray:        #f9f9f9;
$color-darkgray:         #333;
$color-success:          $color-accent-green;
$color-warning:          $color-accent-yellow;
$color-error:            $color-accent-pink;
$color-text-light:       $color-light;
$color-text:             #8d8d8d;
$color-text-dark:        $color-darkgray;
$color-background-light: #fff;
$color-background-body:  #f5f5f8;
$color-background:       #f5f5f5;
$color-background-dark:  #333;
$color-border-primary:   $color-primary;
$color-border-light:     #fff;
$color-border-lightgrey: #f5f5f5;
$color-border-grey:      #f0f0f0;
$color-border-dark:      #fff;
$color-button-disabled:  #8b8b8b;
$color-grey-shadow:      #8b8b8b;
